<!DOCTYPE html>
<html>

  <head>
    <title>{% block head %}Head{% endblock %} | {{ site_title }}</title>
    {% load staticfiles %}
    {% include 'html/head.html' %}
  </head>

  <body>

    <div id="wrapper">

      {% include 'html/nav.html' %}

      <header id="header" class="alt">
        {% block title %}<h1>Title</h1>{% endblock %}
      </header>

      {% block content %}Content{% endblock %}

      <footer id="footer">

        <p class="copyright">&copy; {{ site_title }}</p>

      </footer>

    </div>

  </body>

</html>
