{% load static %}

<!DOCTYPE html>
<html>

  <head>
    {% include 'html/head.html' %}
    <link rel="stylesheet" href="{% static 'posts/css/style.css' %}" type="text/css">
    <title>{% block title%}Title here{% endblock %}</title>
  </head>

  <body>

    <header>
      <h1>{% block h1%}Header here{% endblock %}</h1>
      <h3>{% block h3%}Description here{% endblock %}</h3>
    </header>

    {% include 'html/messages.html' %}

    {% block content %}
    PostList content here
    {% endblock %}

    <footer>
      <p class="copyright">&copy; {{ site_title }}</p>
    </footer>

  </body>

</html>
